<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aowenswgumobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditTermActivity"></activity>
        <activity
            android:name=".EditNoteActivity"
            android:parentActivityName=".NotesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aowenswgumobile.NotesActivity" />
        </activity>
        <activity
            android:name=".NotesActivity"
            android:parentActivityName=".CourseDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aowenswgumobile.CourseDetailActivity" />
        </activity>
        <activity
            android:name=".MentorActivity"
            android:parentActivityName=".CourseDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aowenswgumobile.CourseDetailActivity" />
        </activity>
        <activity
            android:name=".CourseDetailActivity"
            android:parentActivityName=".TermActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aowenswgumobile.TermActivity" />
        </activity>
        <activity
            android:name=".CourseActivity"
            android:parentActivityName=".TermActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aowenswgumobile.TermActivity" />
        </activity>
        <activity
            android:name=".TermActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aowenswgumobile.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>